<div class="container">
    <p>
        &nbsp;
    </p>
    <form class="form-horizontal" role="form">
        <div class="row marketing">
            <div class="col-lg-6">


                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>
                        <hr>

                        <p><b>Shipping Details</b></p>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" placeholder="First Name" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" placeholder="Shipping Address" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" placeholder="City" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Phone #" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Post Code" class="form-control">
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <select id="Country" name="Country" class="form-control">
                                    <option value="1">New Zealand</option>
                                </select>
                            </div>
                        </div>

                    </fieldset>
                </div>

            <div class="col-lg-6">

                <p><b>Shipping Options</b></p>

                <p>Variable Type #1</p>

                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>Shipping 1
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off">Shipping 2
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off">Shipping 3
                    </label>
                </div>

                <hr />

                <p><b>Payment</b></p>

                <div class="btn-group btn-group-justified" data-toggle="buttons">

                    <label class="btn btn-success">
                        <input type="radio" name="options" id="option2" autocomplete="on">Once-Off</label>
                    <label class="btn btn-success">
                        <input type="radio" name="options" id="option2" autocomplete="on">Monthly</label>
                    <label class="btn btn-success">
                        <input type="radio" name="options" id="option3" autocomplete="off">Quarterly</label>
                </div>

                <br />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p><span class="badge pull-right">249 SEK / monthly</span><span class="badge pull-left">Variable #1</span></p></div>

                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="cardNumber" placeholder="XXXX XXXX XXXX XXXX"
                                           required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expityMonth">Expiry Date</label>
                                        <br />

                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" class="form-control" id="expityYear" placeholder="YY" required /></div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">CVV Code</label>
                                        <input type="password" class="form-control" id="cvCode" placeholder="XXX" required />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <a href="#" class="btn btn-warning btn-lg btn-block" role="button">
                    <span class="glyphicon glyphicon-play"></span>
                    CONFIRM ORDER
                </a>

            </div>


        </div>
    </form>


</div>


