{% set items = __SELF__.items %}
<p>&nbsp;</p>
<div class="container-fluid">

    <div class="row product-list">
        {% for product in items %}

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a href="{{ product.url }}">{{ product.name }}</a></h3>
                    </div>

                    <div class="panel-body">
                        <p class="description">{{ product.description | raw }}</p>
           
                        <form data-request="{{ __SELF__ }}::onTest" >

                            <div class="input-group">
                                <input type="hidden" name="id" value="{{ product.id }}">
                                <input type="number" id="input-item" class="form-control" value="1" name="qty"/>
                                <span class="input-group-btn">
                                    <!--<button type="submit" class="btn btn btn-primary">AddToCart</button>-->
                                    <button type="submit" class="btn btn-sm btn-primary btn-block">
                                    AddToCart
                                    </button>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        {% else %}
        <div class="no-data">{{ noProductsMessage }}</div>
        {% endfor %}
    </div>
</div>
{% if items.lastPage > 1 %}
<ul class="pagination">
    {% if items.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (items.currentPage-1) }) }}">&larr; Prev</a></li>
    {% endif %}

    {% for page in 1..items.lastPage %}
    <li class="{{ items.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if items.lastPage > items.currentPage %}
    <li><a href="{{ this.page.baseFileName|page({ (pageParam): (items.currentPage+1) }) }}">Next &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}